body {
    background-color: rgb(71, 71, 71);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.about {
    color: rgb(207, 0, 0);
    font-size: 18px;
}

.skills {
    color: rgb(17, 143, 0);
    font-size: 18px;
}

.projects {
    background-color: rgb(0, 37, 102);
    color: rgb(216, 202, 0);
    font-size: 18px;
    padding: 15px;
    width: 400px;
}

.contact {
    color: rgb(183, 0, 219);
    font-size: 18px;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 15px;
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}